RewriteEngine on
  RewriteRule ^([a-zA-Z0-9]{3,9})(.png|.gif|.jpg)$ http://imgur.${MACHINE}/$1.jpeg [R=302,L]
  RewriteRule ^([a-zA-Z0-9]{3,9}).jpeg$ index.php?imageID=$1

ExpiresActive on
  ExpiresDefault "now plus 1 year"
  Header append Cache-Control "public"