html,
body {
    height: 100%;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.crud {
    margin: 10px 0px 10px 0px;
}

.index.centered {
    text-align: center;
}



/* ======= ======= ===== ======= ======= */
/* ======= ======= LINKS ======= ======= */
/* ======= ======= ===== ======= ======= */
a,
a:link {
    color: #0090B0;
}

a.btn {
    color: #FFFFFF;
}

a:hover {
    color: #003050;
    text-decoration: none;
}

.header a:hover,
.footer a:hover {
    color: #DDDDDD;
}



/* ======= ======= ========= ======= ======= */
/* ======= ======= STRUCTURE ======= ======= */
/* ======= ======= ========= ======= ======= */

body {
    height: 100%;
    width: 100%;
    display: table;
}

.footer {
    width: 100%;
    height: 1px;
    display: table-row;
}

.page {
    height: 100%;
    display: table-row;
}

.container {
    max-width: 1170px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clear {
    clear: both;
}



/* ======= ======= ====== ======= ======= */
/* ======= ======= HEADER ======= ======= */
/* ======= ======= ====== ======= ======= */

.header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;

    background-color: #333333;
    color: #AAAAAA;

    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.brand {
    display: inline-block;

    margin-top: 5px;

    font-size: 170%;
}



/* ======= ======= ====== ======= ======= */
/* ======= ======= NAVBAR ======= ======= */
/* ======= ======= ====== ======= ======= */
.navbar {
    height: 50px;

    float: right;
    margin: 0;
    padding: 0;

    list-style: none;
    overflow: hidden;
}

.navbar li {
    height: 50px;

    float: left;
}

.navbar li a {
    display: block;
    height: 100%;
    padding: 10px 15px 0 15px;
}

.navbar li a:hover,
.navbar li.active a {
    background-color: #000000;
}



/* ======= ======= ==== ======= ======= */
/* ======= ======= PAGE ======= ======= */
/* ======= ======= ==== ======= ======= */

.page {
    background-color: #CCCCCC;
}

.page .container {
    padding-top: 80px;
}



/* ======= ======= ====== ======= ======= */
/* ======= ======= FOOTER ======= ======= */
/* ======= ======= ====== ======= ======= */

.footer {
    background-color: #333333;
    color: #AAAAAA;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* ======= ======= ======== ======= ======= */
/* ======= ======= ARTICLES ======= ======= */
/* ======= ======= ======== ======= ======= */

.document .content {
    padding: 10px 20px 20px 20px;

    background-color: #FFFFFF;
}

.document .banner {
    width: 100%;
    height: 300px;
    position: relative;

    border: 1px solid #FFFFFF;
    background-position: top center;
    background-repeat: no-repeat;
}

.document .title {
    width: 100%;
    position: absolute;
    bottom: 30px;

    padding: 10px 20px 10px 20px;

    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background-color: rgba(10,10,10,0.8);

    color: #DDDDDD;
}

.document .content p.time ~ p:not(.time) {
    line-height: 150%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.document .content p.time {
    font-size: 70%;
}

.document .content p.time:last-of-type {
    margin: 0px 0px 30px 0px;
}

.document .content p.time + p:not(.time) {
    font-size: 130%;
    font-style: italic;
}

.document .content p.stinger {
    margin: 60px 0 0 0 !important;

    font-size: 95%;
}



/* ======= ======= ===== ======= ======= */
/* ======= ======= TILES ======= ======= */
/* ======= ======= ===== ======= ======= */

.thing.tile:not(.link) {
    width: 255px;
    height: 170px;
    margin: 10px;
}

.article.tile:not(.link) {
    width: 100%;
    min-width: 255px;
    height: 150px;
    margin: 10px 0px 10px 0px;
}

.tile:not(.link) {
    position: relative;

    display: inline-block;
    border: 1px solid #FFFFFF;

    text-align: left;
}

.tile .link {
    width: 100%;
    height: 100%;

    display: block;

    background-repeat: no-repeat;
    background-position: top center;

    color: #FFFFFF;
}

.tile .blurb {
    width: 100%;
    max-height: 100px;
    position: absolute;
    bottom: 32px;

    display: block;
    padding: 5px;
    overflow: hidden;

    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background-color: rgba(10,10,10,0.8);
}

.tile .title {
    display: block;
    padding: 0px 0px 0px 10px;
}

.tile .summary {
    display: block;
    padding: 5px 0px 0px 30px;

    font-size: 90%;
    font-style: italic;
}

.tile .link:hover,
.tile .link:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 20px 0px inset;
}



/* ======= ======= =========== ======= ======= */
/* ======= ======= LIKE BUTTON ======= ======= */
/* ======= ======= =========== ======= ======= */

.likes {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

form.likes button.active .badge {
    color: #FF0000;
}