html,
body {
    height: 100%;
    font-family: Georgia, serif;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.crud {
    margin: 10px 0px 10px 0px;
}

.index.centered {
    text-align: center;
}



/* ======= ======= ===== ======= ======= */
/* ======= ======= LINKS ======= ======= */
/* ======= ======= ===== ======= ======= */
a,
a:link {
    color: #006080;
}

a.btn {
    color: #FFFFFF;
}

a:hover {
    color: #003050;
    text-decoration: none;
}

.header a:hover,
.footer a:hover {
    color: #DDDDDD;
}



/* ======= ======= ========= ======= ======= */
/* ======= ======= STRUCTURE ======= ======= */
/* ======= ======= ========= ======= ======= */

body {
    height: 100%;
    width: 100%;
    display: table;
}

.footer {
    width: 100%;
    height: 1px;
    display: table-row;
}

.page {
    height: 100%;
    display: table-row;
}

.container {
    position: relative;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clear {
    clear: both;
}



/* ======= ======= ====== ======= ======= */
/* ======= ======= HEADER ======= ======= */
/* ======= ======= ====== ======= ======= */

.header {
    position: fixed;
    top: 0px;
    z-index: 100;
    min-height: 70px;
    width: 100%;

    margin-top: 10px;

    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background-color: #CBD2DE;

    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.brand {
    position: absolute;
    top: -10px;
    display: inline-block;
}

.brand img {
    height: 90px;
    width: auto;
    border: 2px solid #000000;
}


/* ======= ======= ====== ======= ======= */
/* ======= ======= NAVBAR ======= ======= */
/* ======= ======= ====== ======= ======= */
.navbar {
    position: absolute;
    top: 0px;
    max-height: 60px;

    margin: 0px 0px 0px 80px;
    padding: 0;

    list-style: none;
    overflow: hidden;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    height: 100%;
    padding: 5px 10px 0px 10px;
}

.navbar li a:hover,
.navbar li.active a {
    color: #000000;
}



/* ======= ======= ==== ======= ======= */
/* ======= ======= PAGE ======= ======= */
/* ======= ======= ==== ======= ======= */

.page {
    background: #CBD2DE linear-gradient(#555555, #CBD2DE, #CBD2DE);
}

.page .container {
    padding-top: 130px;
}

.page .content {
    padding: 20px;
    background-color: #EEEEEE;
}

h1 {
    border-bottom: 1px solid #CCCCCC;
}

.blurb {
    margin: 10px 0px 20px 0px;

    border-bottom: 1px solid #CCCCCC;

    font-size: 120%;
    font-weight: bold;
}

.address {
    color: #CCCCCC;
}

.social {
    text-align: center;
    margin-bottom: 20px;
}

.content p:first-of-type {
    font-size: 120%;
    font-style: italic;
}

.content p {
    line-height: 180%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


/* ======= ======= ====== ======= ======= */
/* ======= ======= FOOTER ======= ======= */
/* ======= ======= ====== ======= ======= */

.footer {
    background-color: #333333;
    color: #AAAAAA;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}




/* ======= ======= ========= ======= ======= */
/* ======= ======= SLIDESHOW ======= ======= */
/* ======= ======= ========= ======= ======= */
.slideshow {
    margin: 20px 0px 20px 0px;

    text-align: center;
}

.slideshow img.active {
    display: inline-block;
}

.slideshow img:not(.active) {
    display: none;
}

img.scale {
    max-width: 700px;
    width: 100%;
    height: auto;

    display: inline-block;
    outline: 0;
}